cache
out
proofs
broadcast
.env
#plonk_vk.sol
circuits/target/*

circuits/Prover.toml
circuits/Verifier.toml
circuits/test_verifyProof.toml
circuits/test_wrongProof.toml

lib/foundry-noir-helper/*

.DS_Store

node_modules
package-lock.json

# The script file of Poseidon2 Hash
output.json